<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LoremGenerator</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="styles/styles.css" />
</head>
<header class="container">
  <div class="title-block">
    <p id="title-text">LORIPSUM<span id="net">.Net</span></p>
    <p id="text-below-title">THE 'LOREM IPSUM' GENERATOR THAT DOESN'T SUCK</p>
  </div>
</header>
