<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="top-section">
        <H1>Welcome to my blog website</H1>
        <div class="add btn">
          <form action="/add" method="post">
            <!-- <button class="top-button" name="submit">Add</button> -->
            <!-- <input type="button" value="Add" /> -->
            <button type="submit">Add Blog</button>
            <!-- <input type="button" value="submit" /> -->
          </form>
          <form action="/delete" method="post">
            <button type="submit">Delete Blog</button>
          </form>
        </div>
      </div>
    </header>
    <main>
      <!-- nothing after main -->
    
