<%- include("profiles/header.ejs") %>

<!-- write the body here  -->

<div class="login-section">
  <% if(locals.advice) { %>
  <h1>Please enter correct password: pass</h1>

  <% } else { %>

  <h1>Enter your Login Credentials:</h1>
  <% } %>

  <form action="/login" method="post">
    <label for="fname" id="fname">Username</label>
    <input
      type="text"
      name="username"
      for="fname"
      placeholder="Enter Username"
    />

    <label for="password" id="password">Password</label>
    <input
      type="text"
      name="password"
      id="password"
      placeholder="Enter Password"
    />

    <input type="submit" value="submit" />
  </form>
</div>
<%- include("profiles/footer.ejs") %>
